.BottomSectionContainer{
    width:95%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    overflow-y: auto;
}
.recentExpenses{
    display: flex;
    justify-content:space-between;
    padding: 20px;
    color: #ffffff;
    font-style: italic;
    font-family: 'ubuntu',serif;
    font-weight: 700;
}
.headingExpense{
  margin-right: 250px;
}
.recentTransaction,.topExpense{
    height: 50%;
   background-color: #ffffff;
   border-radius:10px;
   padding: 20px;
   border:1px solid red
}

.expenseCategory{
    flex: 1;
    border:1px solid red;
}

